/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Laravel
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.phpactor.json
auth.json

# IDE
/.idea
/.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# SQLite (use MySQL)
/database/*.sqlite
/database/*.sqlite-journal

# Filament
/public/js/filament
/public/css/filament
